async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram==2.0.106
TgCrypto
pyromod
pymongo==4.6.1
PySocks
python-dotenv
ntplib
requests>=2.31.0
soupsieve
urllib3>=2.0.0
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
Flask>=2.3.0
gunicorn
Jinja2
werkzeug
itsdangerous>=2.1.2
marshmallow<4.0.0
